body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  background-repeat: no-repeat;
}

a {
  color: #fe6d7a;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
